/******************************
************ RESET ************
******************************/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content-inner {
  max-width: 975px;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgb(82, 81, 81);
  margin-left: 25px;
  margin-bottom: 50px;
}
